<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
    <div class="col-8 offset-2" >
        <br>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input name="listing[title]" type="text" id="title" class="form-control" placeholder="add a catchy title" required>
            <div class="valid-feedback">Title looks good !</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label><br>
            <textarea name="listing[description]" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>  <!-- Corrected typo here -->
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload image </label>
            <input name="listing[image]" type="file" id="image" class="form-control" required>
            <div class="invalid-feedback">Please upload an image</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price: </label>
              <input name="listing[price]" type="number" id="price" class="form-control" required>
              <div class="invalid-feedback">Price should be valid</div>
            </div>
          
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country: </label>
              <input name="listing[country]" type="text" id="country" class="form-control" required>
              <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>          
        <div class="mb-3">
            <label for="location" class="form-label">Location: </label>
            <input name="listing[location]" type="text" id="location" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark add-btn">Add</button>        
    </form>
    <br>
</div>
</div>
</body>